canvas {
    border: 1px solid black;
    background-color: black;
}

button {
    background-color: black;
    color: white;
}

body {

    background-color: black;

}

a {

    color: black;
    background-color: #39ff14;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

p {

    color: #39ff14;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}